JWT_SECRET=ganti_dengan_string_random_panjang

GITHUB_CLIENT_ID=isi_disini
GITHUB_CLIENT_SECRET=isi_disini
GITHUB_CALLBACK_URL=http://localhost:8000/api/auth/oauth/github/callback

AUTH_DB_PASS=password_db_auth
EVENT_DB_PASS=password_db_event
TICKET_DB_PASS=password_db_ticket