JWT_SECRET=ganti_dengan_string_random_panjang

GITHUB_CLIENT_ID=isi_disini
GITHUB_CLIENT_SECRET=isi_disini
GITHUB_CALLBACK_URL=http://localhost:8000/api/auth/oauth/github/callback

AUTH_DB_PASS=authpw141
EVENT_DB_PASS=eventpw141
TICKET_DB_PASS=tiketpw141